.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $xl-size;
    padding: 2.4rem;
}

.big-button:disabled {
    opacity: .5;
}

.button {
    background-color: $purple;
    border: none;
    border-bottom: .3rem solid darker($purple, 10%);
    color: white;
    font-weight: bold;
    padding: $s-size;
}
.button--link {
    background-color: none;
    border: 1px solid $blue;
    color: $off-white;
    padding: .5rem 1rem;
}