.header {
    border:1px solid red;
    color: white;
    background-color: $off-black;
    padding: $m-size 0;
    margin-bottom: $s-size;
}

.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-decent;
    font-size: $m-size;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
    .add-option__input {
        margin: 0 $m-size 0 0;
    }
}